<% if (typeof success !== 'undefined' && success && success.length > 0) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success">
      <span>✓</span> <%= msg %>
    </div>
  <% }) %>
<% } %>
<% if (typeof error !== 'undefined' && error && error.length > 0) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-error">
      <span>✗</span> <%= msg %>
    </div>
  <% }) %>
<% } %>
