<%- include('../partials/head') %>
<div class="app-shell">
  <%- include('../partials/sidebar') %>
  <div class="main-content">
    <%- include('../partials/topnav') %>
    <div class="flash-container">
      <%- include('../partials/flash') %>
    </div>
    <main class="content-area">
